html {
  background: url("images/tank-background.jpg") no-repeat;
  background-size: cover;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

/*Beginning screen*/
.game-intro {
  margin: 200px 500px auto;
  /*float: left;*/
  padding: 0% 10%;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
  color: #fff;
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

.tank {
  margin-bottom: 50px;
}

body button {
  font-size: 30px;
  background-color: #475534;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

/*Second Screen*/
.game-board {
    display: none;
    margin: 50px 50px auto;
    float: left;
    padding: 20px 0px;
}

canvas {
  border: 2px solid black;
  background-color: #fff;
}

.score {
  display: none;
  background: url('images/ekg.gif') no-repeat;
  background-size: cover;
  width: 300px;
  margin: 70px 50px 0;
  float: left;
  height: 150px;
  /*background-color: #475534;*/
  color: #FFF;
}

.score p {
  text-align: left;
  margin-left: 15px;
  font-family: "Verdana";
}

.score h1 {
  font-family: "Verdana";
}
